.nav-div {
  width: 100%;
  /* border: 1px solid red; */
  position: absolute;
  display: flex;
  padding: 20px 0px;
  gap: 20px;
  justify-content: space-around;
}

.classSectionOne {
  display: flex;
}

.classSectionTwo {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

a {
  color: #fff;
  text-decoration: none;
  transition: all 0.5s;
  padding: 0px 20px;
}
a:hover {
  transform: scale(1.5);
}

.brand {
  font-size: 30px;
}

.text {
  font-size: 16px;
  font-weight: 300;
}
