/* HERO AREA */
.hero {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.479),
      rgba(65, 33, 33, 0.292)
    ),
    url("../../Asset/5e4b1929fccc7fd4d0de82b2_photo-1439189741837-58720e8d82d5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 65vh;
}

.hero-text {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}

.footer-h1 {
  font-size: 3rem;
  padding-bottom: 0%;
  font-weight: 400;
  word-spacing: 10px;
}

.footer-p {
  font-weight: 300;
}

.footer-btn {
  border-radius: 3px;
  width: 13em;
  height: 3.5em;
  background-color: rgb(207, 93, 62);
  color: white;
  border: none;
  cursor: pointer;
}

.footer-btn:hover {
  background-color: rgb(226, 56, 9);
}

.grid {
  /* width: 100vw; */
  margin: auto;
  height: 8vh;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.grid-btn {
  border-radius: 3px;
  text-align: center;
  width: 10em;
  height: 3.5em;
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
}

.grid-btn:hover {
  background-color: rgb(227, 227, 227);
}
